<% if @robot_info.nil? %>
  Não encontrado
<%else%>
  <div class="col-lg-3 col-md-6">
    <div style="width:98%; height:auto;border:0,5px solid #5cb85c;float:left; padding:1px;background:#5cb85c;color:#fff;">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-spinner fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"></div>
            <div>Charged?</div>
          </div>
        </div>
      </div>
      <a href="#">
      <div class="panel-footer" >
        <span class="pull-left"> Yes</span>
          <div class="clearfix"></div>
        </div>
      </a>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                      <div style="width:98%; height:auto;border:0,5px solid  #f0ad4e;float:left; padding:1px;background: #f0ad4e;color:#fff;">
                      <!--<div class="panel panel-yellow">-->
                          <div class="panel-heading">
                              <div class="row">
                                  <div class="col-xs-3">
                                      <i class="fa fa-cloud fa-5x"></i>
                                  </div>
                                  <div class="col-xs-9 text-right">
                                      <div class="huge"></div>
                                      <div>Raining? </div>
                                  </div>
                              </div>
                          </div>
                          <a href="#">
                              <div class="panel-footer">
                                  <span class="pull-left"> No </span>
                                  <div class="clearfix"></div>
                              </div>
      </a>
    </div>
   </div>
<%end%>
