<footer>
  <div class="container">
  <center>
    <ul class="list-inline">
      <li>
        <a href="/">Home</a>
      </li>
      <li class="footer-menu-divider">&sdot;</li>
      <li>
        <a href="#about">Product</a>
      </li>
      <li class="footer-menu-divider">&sdot;</li>
      <li>
        <a href="#about">About</a>
      </li>
      <li class="footer-menu-divider">&sdot;</li>
      <li>
        <a href="#contact">Contact</a>
      </li>
    </ul>
  <p class="copyright text-muted small">Copyright &copy; PVClean 2016. All Rights Reserved</p>
  </center>
  </div>
</footer>