<div class="container">

<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
    <div class="col-lg-3 col-md-8">
    </div>
      <div class="col-lg-6 col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-1">
                  <i class="fa fa-list-alt fa-2x"></i>
                </div>
                <div class="col-xs-7 text-left">
                  <div class="huge">
                    <font size=4>Editing Routine</font>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <span class="pull-left">

<%= render 'form' %>
                <br>
              </span>
              <div class="clearfix">
              </div>
              <div class="panel-footer">
                <span class="pull-left">
                  <i class="fa fa-arrow-left"></i>
                </span>
                <span class="pull-left">
                  &nbsp;&nbsp;
<%= link_to 'Show', @routine %> |
<%= link_to 'Back', routines_path %>
                </span>
                <div class="clearfix">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>