<div align = "center" class ="intro-registration">
</div>
  <h2 align= "center"> Join this team </h2>
  <hr class="intro-divider">
<br>
<body>
  <%= render '/devise/registrations/devise_form_partial' %>
</body>
<br>
<%#= render "devise/shared/links" %>
